// Variables
.form {
    border-radius: .5rem;
    box-shadow: 0  .5rem 2rem rgba(0,0,0,.5);
    min-width: 200px;
    max-width: 500px;
    max-width: 95%;
    padding: 8rem;
    align-items: center;
    margin: 0 auto;
  background-color: #fff;
    &__full-width {
        width: 100%;
    }
    @media only screen and (max-width: 31.25em){
        margin: 0 auto;
      max-width: 99%;
      padding: 6rem;
    }
  }
  button:not(:last-child){
      margin-right: 1.5rem;
    @media only screen and (max-width: 26.875em) {
      margin-right: .3rem;
    }
  }
.mat-red {
  background-color: #8E0E00;
  color: #eee;
}
.mat-link {
  background-color: #bd952b;
  color: #fff;
}
